# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & Environment
*.log
.env
venv/
env/

# OS specific files
.DS_Store
Thumbs.db
desktop.ini
